main{
  @media (min-width: 23.4375em) and (max-width: 41.6875em) {
    .bottom-side-container, .modal, .header-container, .container-author-name{
      transition: all 0.5s ease;
    }
    
    .slide-up-modal{
      transform: translate3d(0, -44.5rem, 0);
    }
    
    .slide-up-bottom-side-container, .slide-up-container-author-name, .slide-up-first-header-container{
      transform: translate3d(0, -27rem, 0);
    }
    
    .arrow-animation-on{
      transform: rotate(180deg);
      transition: transform 0.5s, filter 0.2s, -webkit-transform 0.5s, -webkit-filter 0.2s;
    }
    
    .arrow-animation-off{
      transform: rotate(0deg);
      transition: transform 0.5s, filter 0.2s, -webkit-transform 0.5s, -webkit-filter 0.2s;
    }
  }

  @media (min-width: 48em) and (max-width: 64em) {

    .modal-container{
      :nth-child(1){
        order: 1;
      }
      :nth-child(2){
        order: 3;
      }
      :nth-child(3){
        order: 2;
      }
      :nth-child(4){
        order: 4;
      }
    }
    .bottom-side-container, .modal, .header-container, .container-author-name{
      transition: all 0.5s ease;
    }
    
    .slide-up-modal{
      transform: translate3d(0, -67rem, 0);
    }
    
    .slide-up-bottom-side-container, .slide-up-container-author-name, .slide-up-first-header-container{
      transform: translate3d(0, -57rem, 0);
    }
    
    .arrow-animation-on{
      transform: rotate(180deg);
      transition: transform 0.5s, filter 0.2s, -webkit-transform 0.5s, //0.2s;
    }
    
    .arrow-animation-off{
      transform: rotate(0deg);
      transition: transform 0.5s, filter 0.2s, -webkit-transform 0.5s, -webkit-filter 0.2s;
    }
  }

  @media (min-width: 90em) {
    
    .modal-container{
      :nth-child(1){
        order: 1;
      }
      :nth-child(2){
        order: 3;
      }
      :nth-child(3){
        order: 2;
      }
      :nth-child(4){
        order: 4;
      }
    }
    .bottom-side-container, .modal, .header-container, .container-author-name{
      transition: all 0.5s ease;
    }
    
    .slide-up-modal{
      transform: translate3d(0, -32rem, 0);
    }
    
    .slide-up-bottom-side-container, .slide-up-container-author-name, .slide-up-first-header-container{
      transform: translate3d(0, -27rem, 0);
    }
    
    .arrow-animation-on{
      transform: rotate(180deg);
      transition: transform 0.5s, filter 0.2s, -webkit-transform 0.5s, //0.2s;
    }
    
    .arrow-animation-off{
      transform: rotate(0deg);
      transition: transform 0.5s, filter 0.2s, -webkit-transform 0.5s, -webkit-filter 0.2s;
    }
  }
}




