@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 62.5%;
}

main{
  min-height: 66.7rem;
  background: url('/src/assets/mobile/bg-image-daytime.jpg') ;
  background-size: cover;
  font-family: 'Inter', sans-serif;
  word-wrap: break-word;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  @media (min-width: 23.4375em) and (max-width: 41.6875em) {
    max-width: 37.5rem;
    max-height: 66.7rem;
    
    //375 - 667
  }
  
  @media (min-width: 48em) and (max-width: 64em) {
    background: url('/src/assets/tablet/bg-image-daytime.jpg') ;
    max-width: 76.8rem;
    max-height: 102.4rem;
    .background-shadow{
      min-height: 102.4rem;
    }
  
    .header-container{
      p{
        min-width: 54.0rem;
        min-height: 8.4rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $white;
        margin-left: 3.8rem;
        margin-top: 8.0rem;
      }
  
      .refresh-button{
        margin-top: 8.967rem;
        margin-left: 1.567rem;
      }
    }
  
    .container-author-name{
      margin-left: 3.7rem;
      margin-top: 7rem;
      h3{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $white;
      }
    }
    .bottom-side-container{
      transform: translate3d(0, -13rem, 0);
      margin-left: 3.5rem;
      .message-container-gretting{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        color: #FFFFFF;
        span::after{
          content: "GOOD MORNING";         
        }
      }
    }
    
    .hour-container{
      bottom: 30.0rem;
      span{
        font-style: normal;
        font-weight: 300;
        font-size: 3.2rem;
        line-height: 2.8rem;
        color: $white;
        margin-bottom: 2rem;
      }
      h1{
        font-style: normal;
        font-weight: 700;
        font-size: 17.5rem;
        line-height: 17.5rem;
        letter-spacing: -4.375px;
        color: #FFFFFF;
      }
    }

    .location-container{
      bottom: 30.5rem;
      h2{
        margin-left: 3.5rem;
      }
    }

    .button-container{
      position: absolute;
      width: 14.6rem;
      height: 5.6rem;
      bottom: 16rem;
      span{
        font-style: normal;
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2.8rem;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #000000;
      }
      button{
        position: absolute;
        width: 4rem;
        height: 4rem;
        left: 9.7rem;
        top: 0.8rem;
      }
    }

    .modal{
        min-width: 76.8rem;
        min-height: 44.0rem;
        display: grid;
        .modal-container{
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          padding: 0px 1rem 0px 1rem;
          column-gap: 10.0rem;
          row-gap: 5rem;
          padding-bottom: 2rem;
          padding-left: 6rem;
          .modal-container-div{
           justify-content: unset;
           flex-direction: column;
           .commun-first-span{
              font-style: normal;
              font-weight: 400;
              font-size: 1.3rem;
              line-height: 2.8rem;
              display: flex;
              align-items: flex-end;
              letter-spacing: 2.6px;
              text-transform: uppercase;
              color: #303030;
           }
           .commun-second-span{
            font-style: normal;
            font-weight: 700;
            font-size: 4rem;
            line-height: 4.8rem;
            display: flex;
            align-items: flex-end;
            color: #303030;
           }
          }
        }
    }    
    // 768 - 1024
  }
  
  @media (min-width: 90em) {
    background: url('/src/assets/desktop/bg-image-daytime.jpg') ;
    max-width: 144rem;
    max-height: 120rem;
    background-repeat: no-repeat;
    .background-shadow{
      min-height: 80rem;
    }

    .header-container{
      min-width: 57rem;
      min-height: 8.4rem;
      margin-left: 17rem;
      margin-top: 5rem;
      p{
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $white;
      }
      .refresh-button{
        margin-top: 2.5rem;
      }
    }
    .container-author-name{
      h3{
        font-style: normal;
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 2.8rem;
        color: $white;
      }
      margin-left: 14.5rem;
      margin-top: 5rem;
    }

    .bottom-side-container{
      height: 0px;
      position: relative;
      .message-container{
        left: 16.5rem;
        bottom: 39rem;
        .message-container-gretting{
          font-style: normal;
          font-weight: 400;
          font-size: 2rem;
          line-height: 2.8rem;
          letter-spacing: 0.4rem;
          text-transform: uppercase;
          color: $white;
          span::after{
            content: "IT'S CURRENTLY";         
            }
          }
        }
        .location-container{
          bottom: 36rem;
          left: 13.5rem;
          h2{
            font-style: normal;
            font-weight: 700;
            font-size: 2.4rem;
            line-height: 2.8rem;
            letter-spacing: 4.8px;
            text-transform: uppercase;
            color: $white;
          }
        }
      }

    
      .hour-container{
        bottom: 38rem;
        left: 16rem;
        h1{
          font-style: normal;
          font-weight: 700;
          font-size: 20rem;
          line-height: 20rem;
          letter-spacing: -0.5rem;
          color: $white;
        }
        span{
          font-style: normal;
          font-weight: 300;
          font-size: 4rem;
          line-height: 2.8rem;
          text-transform: uppercase;
          color: $white;
          margin-bottom: 3.0rem;
          margin-left: 2.5rem;
        }
      }

      .button-container{
        position: absolute;
        left: unset;
        right: 17rem;
        bottom: 10rem;
        width: 14.6rem;
        height: 5.6rem;
        padding-right: 1rem;
        
        span{
          font-style: normal;
          font-weight: 700;
          font-size: 1.6rem;
          line-height: 2.8rem;
          letter-spacing: 0.5rem;
          text-transform: uppercase;
          color: #000000;
          mix-blend-mode: normal;
          opacity: 0.5;
        }

        button{
          width: 4rem;
          height: 4rem;
        }
      }

      .modal{
        width: 100vw;
        display: grid;
        position: absolute;
        height: 32rem;
        background: rgba(255, 255, 255, 0.75);
        backdrop-filter: blur(40.7742px);
        .modal-container{
          display: grid;
          grid-template-columns: 5fr 6fr;
          grid-template-rows: 1fr 1fr;
          column-gap: 26rem;
          row-gap: 2rem;
          padding-bottom: 2rem;
          .modal-container-div{
           justify-content: unset;
           flex-direction: column;
           margin-top: 2rem;
           .commun-first-span{         
            font-weight: 400;
            font-size: 1.5rem;
            line-height: 2.8rem;
            letter-spacing: 0.3rem;
           }
           .commun-second-span{
            font-style: normal;
            font-weight: 700;
            font-size: 5.6rem;
            line-height: 6.8rem;
           }
          }
        }
      }
    }     
    //1440 - 800
  }



li {
  list-style: none;
}